.top-services {
    background-color: #ececec;
    margin-top: 3rem;
    padding: 0.1rem 2rem 1rem 2rem;
    border-radius: 5px;
}

.view-more {
    font-size: 0.8rem;
    margin-top: -1rem;
}

.view-more-button {
    float: right;
    margin-top: -4rem;
    padding: 1rem 2.5rem;
    background-color: #E8665C;
    color: #ececec;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 5px;
    border: none;
    border-bottom: 3px solid #b8453d;
}