html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f3f3f3;
}

h2 {
    font-size: 1.8rem;
    color: #687272;
}

footer {
    background-color: #76c7c0;
    padding-top: 2rem;
}

ul {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1280px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
}