.charts p {
    font-size: 0.8rem;
    color: #687272
}

.charts {
    justify-content: space-around;
}


.charts-choose-clients {
    justify-content: space-between;
}

.charts-size {
    font-size: .8rem;
    color: #7f8c8c;
    flex-basis: 40%;
    text-align: center;
}

.charts-size a {
    color: #E8665C;
}

.chart-number {
    font-size: 1.5rem;
    font-weight: 800;
    position: relative;
    top: -1.5rem;
    color: #7f8c8c;
}

.chart-name {
    font-size: .9rem;
    font-weight: 800;
    position: relative;
    top: -1rem;
    color: #7f8c8c;
}