.choose-us {
    flex-basis: 20%;
}

.choose-us h5 {
    color: #7f8c8c;
    font-size: 1rem;
}

.choose-us ul {
    font-size: 0.8rem;
    color: #7f8c8c;
    list-style-type: none;
    line-height: 1.5rem;
}