footer {
    background-color: #76c7c0;
    padding-top: 2rem;
    background-image: url("../img/bottom-pattern.png");
    background-repeat: repeat-x;
    background-position: top;
}

footer ul {
    padding-left: 20px;
}

.brand {
    flex-basis: 35%;
}

.brand p {
    font-size: 0.8rem;
    line-height: 1.5rem;
}

.contact {
    color: #f8f8f8;
}

.contact p {
    font-size: 0.8rem;
}

.company {
    flex-basis: 10%;
}

.company h5 {
    color: #5e9f9a;
    font-size: 1rem;
}

.company li {
    list-style-type: none;
    padding-top: 0.5rem;
}

.phone {
    font-size: 1rem;
}

.mail {
    font-size: 1rem;
}

.company li a {
    color: #f8f8f8;
    text-decoration: none;
    font-size: 0.8rem;
}

.community h5 {
    color: #5e9f9a;
    font-size: 1rem;
}

.community li {
    list-style-type: none;
    padding-top: 0.5rem;
}

.community li a {
    color: #F8F8F8;
    text-decoration: none;
    font-size: 0.8rem;
}

.from-blog {
    flex-basis: 35%;
}

.from-blog h5 {
    color: #F8F8F8;
    font-size: 1rem;
}

.from-the {
    font-style: italic;
    font-weight: 300;
}

.footer-placeholder {
    border-radius: 3px;
    margin-right: auto;
    float: left;
}

.footer-container {
    justify-content: space-between;
}

.from-blog .data-p {
    color: #5e9f9a;
    font-size: 0.8rem;
}

.from-blog p {
    color: #F8F8F8;
    font-size: 0.8rem;
    position: relative;
    margin-left: 4rem;
}

.social {
    background-color: #6ab3ac;
    padding: 1rem;
    margin-top: 2rem;
}

.social ul {
    display: flex;
    list-style-type: none;
    margin-left: auto;
}

.social i {
    padding-left: 1rem;
    color: #f8f8f8;
}

.watermark {
    position: absolute;
    font-size: 0.7rem;
    color: #f8f8f8;
    margin-top: -0.3rem;
}

.community {
    flex-basis: 10%;
}

.community .fas.fa-chevron-right {
    font-size: 0.5rem;
}

.company .fas.fa-chevron-right {
    font-size: 0.5rem;
}