@media screen and (max-width: 39.9375em) {}

/* Medium and up */

nav {
    display: none;
    margin-left: auto;
}

@media screen and (min-width: 40em) {
    nav {
        display: flex;
    }
}

/* Large and up */

@media screen and (min-width: 64em) {}

header {
    background-color: #76c7c0;
    font-size: 1em;
    background-image: url("../img/menu-pattern.png");
    background-repeat: repeat-x;
    background-position: bottom;
}

.modus {
    font-weight: 800;
    font-size: 2rem;
}

.versus {
    font-weight: 300;
    font-size: 1.7rem;
}

.dropdown-menu li {
    background-color: #f77c73;
    border-bottom: #e8665c;
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav li {
    margin: 1rem;
    border-radius: 5px;
    color: #f8f8f8;
    background-color: #76c7c0;
    border-style: none;
    padding: 0.5em 1em 0.5em 1em;
    border-bottom: 3px solid #76c7c0;
}

nav li:hover {
    color: #f8f8f8;
    background-color: #6fb3ae;
    border-bottom: 3px solid #639995;
}

nav li:active {
    color: #f8f8f8;
    background-color: #f77c73;
    border-bottom-color: #f8665c;
}

nav a {
    text-decoration: none;
    color: #f8f8f8;
}

.brand {
    color: #f8f8f8;
    margin: .8rem 0;
}

.dropdown {
    position: relative;
    width: 133px;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: #f8665c;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    top: 3rem;
    left: 0;
}

.button-secondary {
    background-color: #62bdbd;
    border-radius: 5px;
    border: 0;
    border-bottom: 3px solid #5f9995;
    padding: 1rem 4.5rem;
    color: #f8f8f8;
    text-decoration: none;
}

.dropdown .arrow {
    display: none;
    position: absolute;
    width: 10px;
    height: 10px;
    background: #f8665c;
    transform: rotate(45deg);
    top: 2.7rem;
    left: 1rem;
}

#portfolioMenu {
    width: 150px;
    z-index: 1;
}