.modus-versus {
    background-color: #ececec;
    margin-top: 4rem;
    text-align: center;
    background-image: url("../img/rule-pattern.png");
    background-repeat: repeat-x;
    background-position: top;
    padding: 1rem 1rem 13rem 1rem;
}

.modus-versus h1 {
    font-weight: 700;
    font-size: 2.3rem;
    color: #e8645a;
}

.modus-versus p {
    font-size: 0.8rem;
    color: #687272;
}