/* Small only */

@media screen and (max-width: 39.9375em) {
    nav {
        position: relative;
    }
    nav ul {
        position: absolute;
        right: 0;
        top: 61px;
        z-index: 1;
        display: block;
        background-color: #76c7c0;
        text-align: center;
    }
    nav li {
        margin: .5rem;
    }
    .brand {
        margin-left: 1rem;
    }
    .slider-background {
        padding: 200px 1rem 0 1rem;
    }
    .slider-button {
        display: none;
    }
    .top-services {
        display: block;
    }
    .clients-say {
        flex-basis: 100%;
    }
    .footer-container {
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 1rem;
    }
    .brand-footer {
        flex-basis: 100%;
    }
    .from-blog {
        flex-basis: 100%;
    }
    .company-community {
        flex-basis: 100%;
        justify-content: space-around;
    }
    .company,
    .community {
        flex-basis: 101px;
    }
    .charts-choose-clients {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 1rem;
    }
    .choose-us {
        flex-basis: 182px;
        margin-bottom: 2rem;
    }
    .charts-size {
        flex-basis: 100%;
    }
    .charts {
        flex-wrap: wrap;
    }
    .chart-canvas {
        flex-basis: 50%;
    }
    .chart canvas {
        margin: 0 auto;
        width: 100px !important;
        height: 55px !important;
    }
    .happy-clients {
        margin: 0 1rem;
    }
    .vestibulum {
        font-size: 2.5rem;
    }
    /* Medium and up */
    @media screen and (min-width: 40em) {
        .burger-menu {
            display: none;
        }
        nav {
            display: flex;
        }
    }
    /* Medium only */
    @media screen and (min-width: 40em) and (max-width: 63.9375em) {
        nav ul {
            flex-wrap: wrap;
        }
    }
    /* Large and up */
    @media screen and (min-width: 64em) {
        .cards {
            justify-content: space-between;
        }
        .card {
            margin-bottom: 0;
        }
    }