.top-services {
  background-color: #ececec;
  margin-top: 3rem;
  padding: 0.1rem 2rem 1rem 2rem;
  border-radius: 5px;
  color: #7f8c8c;
  display: flex;
}

.top-services h2 {
  margin-bottom: 0;
}

.view-more-button-container {
  margin-left: auto;
}

.top-services p {
  font-size: 0.8rem;
  margin-top: 5px;
}

.view-more-button {
  padding: 1rem 3.5rem;
  font-weight: bold;
  font-size: 1.2rem;
  margin: 1.5rem 0 0 0;
  min-width: 150px;
  display: inline-block;
}
