.cards {
  margin-top: 3rem;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.cards h4 {
  color: #687272;
  font-weight: 700;
}

.card-text {
  font-size: 0.8rem;
  color: #687272;
}

.card {
  flex-basis: 300px;
  text-align: center;
  background: #f8f8f8;
  border-radius: 5px;
  padding: 3rem 1rem;
  box-shadow: 0 3px rgba(0, 0, 0, 0.05);
  fill: #76c7c0;
  margin-bottom: 3rem;
}

.card:active svg {
  fill: #e8665c;
}

.card:active {
  background-color: #fff;
}

.card .button-secondary {
  position: relative;
  top: 55px;
  padding: 1rem 4.5rem;
}
